@charset "UTF-8";
body
{
	
	margin:auto; 
	margin-top:30px;
	/* width:600px; */
	padding:40px;
	/* border:1px solid; */
	background-color: rgb(247, 234, 197);
}
h1
{
	background-color: rgb(208, 215, 216);
	text-align:center;
	border-radius:17px;
	width:545px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	
}
div a:hover
{

border-radius:7px;
/* border:1px solid; */
background-color: rgb(78, 80, 80);
}
label
{
	display:inline-block;
	width:150px;
}
.btn
{
	margin-left:60px;
}
a
{
	color:white;
	text-decoration:none;
	padding:5px 10px;
	transition:0.2s all;
}
form
{
	border:1px solid;
	padding:20px;
	margin:auto;
	width:500px;
	background-color: rgb(189, 222, 247);
}